* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #009cde;
  height: 100vh;
  transition: 0.5s;
}
h1, h2 {
  color: #fff;
  text-align: center;
}

#app {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;

  justify-content: center;
  align-items: center;
}

#app > div {
  background-color: #fff;
  border: 1px solid #000;
  width: 80px;
  margin: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;

  transition: 0.2s;
}
#app > div:hover {
  background-color: #97d700;
}

